%ul.nav__list
  %li.nav__list__item.active
    = link_to "/users/1", style: "color: black;" "text-decoration: none;" do
      .nav__list__item__content
        .nav__list__item__name
          マイページ
        .nav__list__item__content__arrow
          = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        お知らせ
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        やることリスト
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        いいね！一覧
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        出品する
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        出品した商品-出品中
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        出品した商品-取引中
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        出品した商品-売却済み
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        購入した商品-取引中
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        購入した商品-過去の取引
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        ニュース一覧
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        評価一覧
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        ガイド
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        お問い合わせ
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
%h3.nav__head メルペイ
%ul.nav__list
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        売上・振込申請
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        ポイント
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
%h3.nav__head 設定
%ul.nav__list
  %li.nav__list__item
    = link_to "/users/1/edit", style: "color: black;" "text-decoration: none;" do
      .nav__list__item__content
        .nav__list__item__name
          プロフィール
        .nav__list__item__content__arrow
          = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        発送元・お届け先住所変更
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        支払い方法
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        メール/パスワード
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        本人情報
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        電話番号の確認
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")
  %li.nav__list__item
    .nav__list__item__content
      .nav__list__item__name
        ログアウト
      .nav__list__item__content__arrow
        = fa_icon("chevron-right")