- breadcrumb :phone
%body
  %nav.pankuzu
  .mypage__container
    .nav
      = render 'mypage_nav'
    %main.registration__main
      %section.registration__main__container
        %h2.registration__main__head__sub 電話番号の確認
        .registration__main__form
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          .user__form__content
            .user__form__group
              %label{for: "user__title"} 携帯電話の番号
              = f.number_field :phone, class: 'user__form__input', placeholder: "090-1234-1234", type: "text", value: current_user.phone
            %p.user__title__text__inline.font__size 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
            = f.button :"SMSを送信する", class: 'user__form__botton'
            %p.user__title__text__inline.font__size ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .user__form__group
              %p.user__form__other
                %a.user__form__other__info{href: "", target: "_blank"}
                  電話番号の確認が必要な理由#{fa_icon("angle-right lg")}
                  %br
                  %br

