%body
  %nav.pankuzu
  .mypage__container
    .mypage__main
      .mypage__user
        .mypage__user__info
          %figure.mypage__user__info__icon
            = image_tag('member_noimage.png', size:'60x60')
          %h2.mypage__user__info__name
            メルカリ太郎
          .mypage__user__info__number
            %div
              評価
              %span.bold 10
            %div
              出品数
              %span.bold 5
      %ul.mypage__tabs
        %li.mypage__tabs__tab.active
          お知らせ
        %li.mypage__tabs__tab
          やることリスト
      %ul.tab__content
        %li.mypage__info
          .mypage__info__body
            %div
              = image_tag('mercari_icon.png', size:'48x48')
            .mypage__info__body__content
              %div
                《いま出品するとおトク》抽選で「取引手数料」を"全額"ポイントバックのチャンス
              .mypage__info__body__content__time
                = fa_icon("history lg")
                %span 1日前
        %li.mypage__info
          .mypage__info__body
            %div
              = image_tag('mercari_icon.png', size:'48x48')
            .mypage__info__body__content
              %div
                事務局から個別メッセージ「ログイン通知」
              .mypage__info__body__content__time
                = fa_icon("history lg")
                %span 2日前
        %li.mypage__info
          .mypage__info__body
            %div
              = image_tag('mercari_icon.png', size:'48x48')
            .mypage__info__body__content
              %div
                《メルカリ6周年大感謝祭》今だけ限定のお得チケットをプレゼントしました
              .mypage__info__body__content__time
                = fa_icon("history lg")
                %span 2日前
        %li.mypage__info
          .mypage__info__body
            %div
              = image_tag('mercari_icon.png', size:'48x48')
            .mypage__info__body__content
              %div
                《買うほどお得、売るほどお得》メルカリ6周年大感謝祭、本日スタート！
              .mypage__info__body__content__time
                = fa_icon("history lg")
                %span 3日前
        %li.mypage__info
          .mypage__info__body
            %div
              = image_tag('mercari_icon.png', size:'48x48')
            .mypage__info__body__content
              %div
                《この通知を受け取ったあなた限定》「1,000ポイントバック」のお得チケットをプレゼントしました！
              .mypage__info__body__content__time
                = fa_icon("history lg")
                %span 3日前
        %li.mypage__go__list
          .mypage__go__list__body
            一覧を見る
      .mypage__tabs__head
        購入した商品
      %ul.mypage__tabs
        %li.mypage__tabs__tab.active
          取引中
        %li.mypage__tabs__tab
          過去の取引
      .mypage__item__not__found
        .mypage__item__not__found__body
          .mypage__item__not__found__body__image
            = image_tag('logo_grey.png', size:'110x110')
          .mypage__item__not__found__body__text
            取引中の商品がありません
    .nav
      = render "mypage_nav"
 