<header class="r__header"></header>
<nav class="r__pankuzu"></nav>

<div class="r__container">

  <div class="r__main">
    <div class="r__mypage__user">
      <div class="r__mypage__user__info">
        <figure class="r__mypage__user__info__icon">
          <%= image_tag('member_noimage.png', size:'60x60') %>
        </figure>
        <h2 class="r__mypage__user__info__name">
          メルカリ太郎
        </h2>
        <div class="r__mypage__user__info__number">
          <div>評価
            <span class="bold">10</span>
          </div>
          <div>出品数
            <span class="bold">5</span>
          </div>
        </div>
      </div>
    </div>
    <ul class="r__mypage__tabs">
      <li class="r__mypage__tab">
        お知らせ
      </li>
      <li class="r__mypage__tab">
        やることリスト
      </li>
    </ul>
    <ul class="r__tab__content">
      <li class="r__mypage__info">
        <div class="r__mypage__info__body">
          <div>
            <%= image_tag('mercari_icon.png', size:'48x48') %>
          </div>
          <div class="r__mypage__info__body__content">
            <div>
              《いま出品するとおトク》抽選で「取引手数料」を"全額"ポイントバックのチャンス
            </div>
            <div class="r__mypage__info__body__time">
              <%= fa_icon("history lg") %>
              <span>1日前</span>
            </div>
          </div>
        </div>
      </li>
      <li class="r__mypage__info">
        <div class="r__mypage__info__body">
          <div>
            <%= image_tag('mercari_icon.png', size:'48x48') %>
          </div>
          <div class="r__mypage__info__body__content">
            <div>
              事務局から個別メッセージ「ログイン通知」
            </div>
            <div class="r__mypage__info__body__time">
              <%= fa_icon("history lg") %>
              <span>2日前</span>
            </div>
          </div>
        </div>
      </li>
      <li class="r__mypage__info">
        <div class="r__mypage__info__body">
          <div>
            <%= image_tag('mercari_icon.png', size:'48x48') %>
          </div>
          <div class="r__mypage__info__body__content">
            <div>
              《メルカリ6周年大感謝祭》今だけ限定のお得チケットをプレゼントしました            </div>
            <div class="r__mypage__info__body__time">
              <%= fa_icon("history lg") %>
              <span>2日前</span>
            </div>
          </div>
        </div>
      </li>
      <li class="r__mypage__info">
        <div class="r__mypage__info__body">
          <div>
            <%= image_tag('mercari_icon.png', size:'48x48') %>
          </div>
          <div class="r__mypage__info__body__content">
            <div>
              《買うほどお得、売るほどお得》メルカリ6周年大感謝祭、本日スタート！
            </div>
            <div class="r__mypage__info__body__time">
              <%= fa_icon("history lg") %>
              <span>3日前</span>
            </div>
          </div>
        </div>
      </li>
      <li class="r__mypage__info">
        <div class="r__mypage__info__body">
          <div>
            <%= image_tag('mercari_icon.png', size:'48x48') %>
          </div>
          <div class="r__mypage__info__body__content">
            <div>
              《この通知を受け取ったあなた限定》「1,000ポイントバック」のお得チケットをプレゼントしました！
            </div>
            <div class="r__mypage__info__body__time">
              <%= fa_icon("history lg") %>
              <span>3日前</span>
            </div>
          </div>
        </div>
      </li>
      <li class="r__mypage__go__list">
        <div class="r__mypage__go__list__body">
          一覧を見る
        </div>
      </li>
    </ul>

    <div class="r__mypage__tabs__head">
      購入した商品
    </div>
    <ul class="r__mypage__tabs">
      <li class="r__mypage__tab">
        取引中
      </li>
      <li class="r__mypage__tab">
        過去の取引
      </li>
    </ul>
    <div class="r__mypage__item__not__found">
      <div class="r__mypage__item__not__found__body">
        <div class="r__mypage__item__not__found__body__image">
          <%= image_tag('logo_grey.png', size:'110x110') %>
        </div>
        <div class="r__mypage__item__not__found__body__text">
          取引中の商品がありません
        </div>
      </div>
    </div>
  </div>

  <div class="r__nav">
    <ul class="r__nav__list">
      
      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            マイページ
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            お知らせ
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            やることリスト
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            いいね！一覧
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            出品する
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            出品した商品-出品中
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            出品した商品-取引中
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            出品した商品-売却済み
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            購入した商品-取引中
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            購入した商品-過去の取引
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            ニュース一覧
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            評価一覧
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            ガイド
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            お問い合わせ
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>
      
    </ul>

    <h3 class="r__nav__head">メルペイ</h3>

    <ul class="r__nav__list">

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            売上・振込申請
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            ポイント
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

    </ul>

    <h3 class="r__nav__head">設定</h3>

    <ul class="r__nav__list">

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            プロフィール
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            発送元・お届け先住所変更
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            支払い方法
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            メール/パスワード
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            本人情報
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            電話番号の確認
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

      <li class="r__nav__list__item">
        <div class="r__nav__list__item__content">
          <div class="r__nav__list__item__name">
            ポログアウト
          </div>
          <div class="r__nav__list__item__arrow">
            <%= fa_icon("chevron-right") %>
          </div>
        </div>
      </li>

    </ul>
    
  </div>
</div>

<aside class="r__banner"></aside>
<footer class="r__footer"></footer>


