= javascript_include_tag 'item.show.js'
.myitem__product__bread
  %ul
    %li
      %a{href: "http://localhost:3000/items"}
        %span メルカリ
      %i#myitem__product__fa-angle-right.fa.fa-angle-right
    %li
      %a{href: "http://localhost:3000/items/category"}
        %span カテゴリー一覧
      %i#myitem__product__fa-angle-right.fa.fa-angle-right
    %li
      %a{href: ""}
        %span 
          = @item.category.parent.parent.name
      %i#myitem__product__fa-angle-right.fa.fa-angle-right
    %li
      %a{href: ""}
        %span
          = @item.category.parent.name
      %i#myitem__product__fa-angle-right.fa.fa-angle-right
    %li
      %span 
        = @item.category.name
%main.myitem__product__main
  .myitem__product__item
    .myitem__product__item-box
      %h1.myitem__product__h1
        = @item.name 
      .myitem__product__item-box__main
        .myitem__product__item-box__main__left
          .myitem__product__item-box__main__left__bigpic
            %ul
              - @images.each_with_index do |image, i|
                %li.myitem__product__item-box__main__left__below__pics
                  = image_tag image.image_url.url(:thumb), width: '300px', id: "bigimage"
                - break if i== 0

          .myitem__product__item-box__main__left__below
            %ul
              - @images.each do |image|
                %li.myitem__product__item-box__main__left__below__pics
                  = image_tag image.image_url.url(:thumb), size: '60x60', id: "smallimage"
                
  
        .myitem__product__item-box__main__right
          %table.myitem__product__item-box__main__right__table
            %tbody.myitem__product__tbody
              %tr.myitem__product__tr
                %th.myitem__product__th 出品者
                %td.myitem__product__td
                  %a{href: ""} 
                    = @item.owner.nickname
              %tr.myitem__product__tr
                %th.myitem__product__th カテゴリー
                %td.myitem__product__td
                  %a{href: ""}
                    = @item.category.parent.parent.name
                    %i#myitem__product__fa-angle-right.fa.fa-angle-right
                  %a{href: ""} 
                    = @item.category.parent.name
                    %i#myitem__product__fa-angle-right.fa.fa-angle-right
                  %a{href: ""}
                    = @item.category.name
              %tr.myitem__product__tr
                %th.myitem__product__th ブランド
                %td.myitem__product__td
                  %a{href: ""} 
                    = @item.brand
              %tr.myitem__product__tr
                %th.myitem__product__th サイズ
                %td.myitem__product__td 
                  = @item.size.size
              %tr.myitem__product__tr
                %th.myitem__product__th 商品の状態
                %td.myitem__product__td 
                  = @item.condition.condition_rank
              %tr.myitem__product__tr
                %th.myitem__product__th 配送料の負担
                %td.myitem__product__td 
                  = @item.shipping_fee_payer.payer
              %tr.myitem__product__tr
                %th.myitem__product__th 配送の方法
                %td.myitem__product__td
                  %a らくらくメルカリ便
              %tr.myitem__product__tr
                %th.myitem__product__th 配送元地域
                %td.myitem__product__td
                  %a{href: ""} ここに入る
              %tr.myitem__product__tr
                %th.myitem__product__th 配送日の目安
                %td.myitem__product__td
                  %a
                    = @item.shipping_day.days
      .myitem__product__item-box__price
        %span.myitem__product__item-box__price__amount
          = "¥" + @item.price.to_s(:delimited).to_s
        %span.myitem__product__item-box__price__withtax (税込)
        %span.myitem__product__item-box__price__shipcost 送料込み
      .myitem__product__item-box__desc
        = @item.description
    .myitem__product__item-comment
      .myitem__product__item-box__buybox__show
        = link_to "商品を編集する",edit_user_myitem_path(@item)
      .myitem__product__item-box__buybox--or
        or
      .myitem__product__item-box__buybox__show
        %a
          出品を一旦停止する
      .myitem__product__item-box__buybox__delete
        = link_to "この商品を削除する", user_myitem_path, method: :delete

    .myitem__product__item-comment
      %form.myitem__product__item-comment__form
        %p.myitem__product__p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.myitem__product__textarea{name: "body", type: "text"}
        %button.myitem__product__button{type: "submit"} コメントする
