.done
  .done__container
    / ここから商品購入完了後のヘッダー
    .done__container__done-attention
      %h3.done__container__done-attention__top
        %i.fa.fa-hourglass-start
        %span 発送をお待ちください
      %p.done__container__done-attention__bottom 出品者からの発送通知をお待ちください
    / ヘッダータイトル
    %h2.done__container__header 購入が完了しました
    / ここから商品情報
    .done__container__inner
      %section.done__container__inner__item
        .done__container__inner__item__info
          = image_tag @images.first.image_url.url(:thumb) , alt: '商品画像', class: 'done__container__inner__item__info__img', size: "128x128"
          %p.done__container__inner__item__info__name
            = @item.name
            %p.done__container__inner__item__info__fee__price
              %span ¥
              = @item.price
              - if @item.shipping_fee_payer_id == 1
                %span.done__container__inner__item__info__fee__shipping-price 送料込み
              - else @item.shipping_fee_payer_id == 2
                %span.done__container__inner__item__info__fee__shipping-price 着払い
    / ここから配送先情報
    %section.done__container__inner__user-delivery
      .done__container__inner__user-delivery__inner
        %h3.done__container__inner__user-delivery__inner__title 配送先
        %address.done__container__inner__user-delivery__inner__add
          %span 〒
          = current_user.postcode
          %br/
          = current_user.address_city
          %br/
          = current_user.address_building
          %br/
          = current_user.family_name
          = current_user.first_name
    / ここから支払い方法
    %section.done__container__inner__user-payment
      .done__container__inner__user-payment__inner
        %h3.done__container__inner__user-payment__inner__title 支払い方法
        %p.done__container__inner__user-payment__inner__payment-type
        = current_user.credit
        %br/
        = image_tag 'visa_logo.png', class: 'done__container__inner__user-payment__inner__img', size: "31x30"
    / ここから発送通知後の流れ
    %section.done__container__inner__done-guide
      .done__container__inner__done-guide__inner
        %h3.done__container__inner__done-guide__inner__title 発送通知後の流れ
        .done__container__inner__done-guide__inner__icons
          %i.fa.fa-thumbs-up.done__container__inner__done-guide__inner__icons__up
          %i.fa.fa-exclamation.done__container__inner__done-guide__inner__icons__mi
          %i.fa.fa-thumbs-down.done__container__inner__done-guide__inner__icons__down
        %p.done__container__inner__done-guide__inner__text
          商品を受け取ったら
          %br/
          出品者の評価をしましょう
          %br/
          購入代金が出品者に振り込まれます。
          %br/
          評価後に取引は完了です。
        = link_to 'マイページへ戻る', user_path(current_user), class: 'done__container__inner__done-guide__inner__link'
