<div class="wrapper">
  <main class="main-toppage">
    <!-- スライドショー -->
    <section class="js-head-slider">
      <ul class="bxslider">
          <li><%= image_tag 'mercari01.jpg',class: "head-slider-img" %></li>
          <li><%= image_tag 'me.png',class: "head-slider-img" %></li>
          <li><%= image_tag 'mercari03.png',class: "head-slider-img" %></li>
          <li><%= image_tag 'mercari04.png',class: "head-slider-img" %></li>
      </ul>
    </section>

    <section class="pickup-contaner">
      <h2 class="pickup-header">ピックアップカテゴリー</h2>
      <!-- レディース新着アイテム -->
      <section class="products-box-group">
        <h3 class="products-box-header"><%= link_to 'レディース新着アイテム', items_path, class: "header-link" %></h3>
        <section class="products-box">

          <section class="product-content">
            <a href="#" class="product-box-img"><%= image_tag 'product4.jpg', :size => "213x230" %></a>
            <div class="product-box-info">
              <h3 class="product-name">スプリングコート</h3>
              <div class="product-box-price">
                <div class="price">¥1980</div>
                <div class="like"><i class="fa fa-heart">5</i></div>
                <p class="product-tax">(税込)</p>
              </div>
            </div>
          </section>

          <section class="product-content">
            <a href="#" class="product-box-img"><%= image_tag 'product4.jpg', :size => "213x230" %></a>
            <div class="product-box-info">
              <h3 class="product-name">ブラウス</h3>
              <div class="product-box-price">
                <p>¥price</p>
                <div class="like">

                </div>
                <p class="product-tax">(税込)</p>
              </div>
            </div>
          </section>

          <section class="product-content">
            <a href="#" class="product-box-img"><%= image_tag 'product4.jpg', :size => "213x230" %></a>
            <div class="product-box-info">
              <h3 class="product-name">シャツ</h3>
              <div class="product-box-price">
                <p>¥price</p>
                <div class="like">

                </div>
                <p class="product-tax">(税込)</p>
              </div>
            </div>
          </section>

          <div class="product-all">
            <%= link_to 'すべての商品を見る', items_path, class: "all-link" %>
          </div>

        </section>
      </section>

      <!-- メンズ新着アイテム -->
      <section class="products-box-group">
        <h3 class="products-box-header"><%= link_to 'メンズ新着アイテム', items_path, class: "header-link" %></h3>
        <section class="products-box">

          <section class="product-content">
            <a href="#" class="product-box-img"><%= image_tag 'product4.jpg', :size => "213x230" %></a>
            <div class="product-box-info">
              <h3 class="product-name">スプリングコート</h3>
              <div class="product-box-price">
                <div class="price">¥1980</div>
                <div class="like"><i class="fa fa-heart">5</i></div>
                <p class="product-tax">(税込)</p>
              </div>
            </div>
          </section>

          <section class="product-content">
            <a href="#" class="product-box-img"><%= image_tag 'product4.jpg', :size => "213x230" %></a>
            <div class="product-box-info">
              <h3 class="product-name">ブラウス</h3>
              <div class="product-box-price">
                <p>¥price</p>
                <div class="like">

                </div>
                <p class="product-tax">(税込)</p>
              </div>
            </div>
          </section>

          <section class="product-content">
            <a href="#" class="product-box-img"><%= image_tag 'product4.jpg', :size => "213x230" %></a>
            <div class="product-box-info">
              <h3 class="product-name">シャツ</h3>
              <div class="product-box-price">
                <p>¥price</p>
                <div class="like">

                </div>
                <p class="product-tax">(税込)</p>
              </div>
            </div>
          </section>

          <div class="product-all">
            <%= link_to 'すべての商品を見る', items_path, class: "all-link" %>
          </div>

        </section>
      </section>

      <!-- ベビー・キッズ 新着アイテム -->
      <section class="products-box-group">
        <h3 class="products-box-header"><%= link_to 'ベビー・キッズ 新着アイテム', items_path, class: "header-link" %></h3>
        <section class="products-box">

          <section class="product-content">
            <a href="#" class="product-box-img"><%= image_tag 'kids1.jpg', :size => "213x230" %></a>
            <div class="product-box-info">
              <h3 class="product-name">スプリングコート</h3>
              <div class="product-box-price">
                <div class="price">¥1980</div>
                <div class="like"><i class="fa fa-heart">5</i></div>
                <p class="product-tax">(税込)</p>
              </div>
            </div>
          </section>

          <section class="product-content">
            <a href="#" class="product-box-img"><%= image_tag 'kids2.jpg', :size => "213x230" %></a>
            <div class="product-box-info">
              <h3 class="product-name">ブラウス</h3>
              <div class="product-box-price">
                <p>¥price</p>
                <div class="like">

                </div>
                <p class="product-tax">(税込)</p>
              </div>
            </div>
          </section>

          <section class="product-content">
            <a href="#" class="product-box-img"><%= image_tag 'kids3.jpg', :size => "213x230" %></a>
            <div class="product-box-info">
              <h3 class="product-name">シャツ</h3>
              <div class="product-box-price">
                <p>¥price</p>
                <div class="like">

                </div>
                <p class="product-tax">(税込)</p>
              </div>
            </div>
          </section>

          <div class="product-all">
            <%= link_to 'すべての商品を見る', items_path, class: "all-link" %>
          </div>

        </section>
      </section>

      <!-- コスメ・香水・美容 新着アイテム -->
      <section class="products-box-group">
        <h3 class="products-box-header"><%= link_to 'コスメ・香水・美容 新着アイテム', items_path, class: "header-link" %></h3>
        <section class="products-box">

          <section class="product-content">
            <a href="#" class="product-box-img"><%= image_tag 'cosme1.jpg', :size => "213x230" %></a>
            <div class="product-box-info">
              <h3 class="product-name">スプリングコート</h3>
              <div class="product-box-price">
                <div class="price">¥1980</div>
                <div class="like"><i class="fa fa-heart">5</i></div>
                <p class="product-tax">(税込)</p>
              </div>
            </div>
          </section>

          <section class="product-content">
            <a href="#" class="product-box-img"><%= image_tag 'cosme2.jpg', :size => "213x230" %></a>
            <div class="product-box-info">
              <h3 class="product-name">ブラウス</h3>
              <div class="product-box-price">
                <p>¥price</p>
                <div class="like">

                </div>
                <p class="product-tax">(税込)</p>
              </div>
            </div>
          </section>

          <section class="product-content">
            <a href="#" class="product-box-img"><%= image_tag 'cosme3.jpg', :size => "213x230" %></a>
            <div class="product-box-info">
              <h3 class="product-name">シャツ</h3>
              <div class="product-box-price">
                <p>¥price</p>
                <div class="like">

                </div>
                <p class="product-tax">(税込)</p>
              </div>
            </div>
          </section>

          <div class="product-all">
            <%= link_to 'すべての商品を見る', items_path, class: "all-link" %>
          </div>

        </section>
      </section>


    </section>
  </main>
  <%= link_to items_path, class: "sale-btn" do %>
    <div class="sale-btn-text">出品</div>
    <i class="fa fa-camera-retro"></i>
  <% end %>

  <div class="app-intro">
    <div class="app-intro-inner">
      <h2>スマホで簡単フリマアプリ</h2>
      <p>今すぐ無料ダウンロード！</p>
    </div>
    <div class="app-intro-icon">
      <%= image_tag 'app-logo.jpg',class: "app-logo", height: '68', width: '68'  %>
      <ul class="app-intro-links">
        <li class="app-store"></li>
        <li class="app-google"></li>
      </ul>
    </div>
    <%= image_tag 'appa.png',class: "app-img", height: '260' %>
  </div>

  
  </div>
</div>
<script>
$(document).ready(function(){
  $('.bxslider').bxSlider({
       auto: true,
       slideWidth: 760,
       pause:	3000,
       speed: 300,
       mode: 'fade',
       pager:true,
       controls:true,
       minSlides: 1,
       maxSlides: 1,
       touchEnabled: true,
     });
});
</script>