<div class="product-header__container__under__user">
  <ul class="product-header__container__under__user__logging-in">
    <li class="product-header__container__under__user__logging-in__list">
      <%= link_to root_path, class: 'product-header__container__under__user__logging-in__list__link' do %>
        <i class="fa fa-heart"></i><span>いいね!一覧</span>
      <% end %>
    </li>
    <li class="product-header__container__under__user__logging-in__list">
      <%= link_to root_path, class: 'product-header__container__under__user__logging-in__list__link' do %>
        <i class="fa fa-bell"></i><span>いいね!一覧</span>
      <% end %>
    </li>
    <li class="product-header__container__under__user__logging-in__list">
      <%= link_to root_path, class: 'product-header__container__under__user__logging-in__list__link' do %>
        <i class="fa fa-check"></i><span>やることリスト</span>
      <% end %>
    </li>
    <li class="product-header__container__under__user__logging-in__list">
      <%= link_to root_path, class: 'product-header__container__under__user__logging-in__list__link' do %>
        <%= image_tag current_user.image_url.url(:thumb), size: '32x32', class: '' %><span>マイページ</span>
      <% end %>
    </li>
  </ul>
</div>