= javascript_include_tag 'item.show.js'
- breadcrumb :item, @item
%main.product__main
  .product__item
    .product__item-box
      %h1.product__h1
        = @item.name
      .product__item-box__main
        .product__item-box__main__left
          .product__item-box__main__left__bigpic
            %ul
              - @images.each_with_index do |image, i|
                %li.product__item-box__main__left__below__pics
                  = image_tag image.image_url.url(:thumb), width: '300px', id: "bigimage"
                - break if i== 0

          .product__item-box__main__left__below
            %ul
              - @images.each do |image|
                %li.product__item-box__main__left__below__pics
                  = image_tag image.image_url.url(:thumb), size: '60x60', id: "smallimage"


        .product__item-box__main__right
          %table.product__item-box__main__right__table
            %tbody.product__tbody
              %tr.product__tr
                %th.product__th 出品者
                %td.product__td
                  %a{href: ""}
                    = @item.owner.nickname
              %tr.product__tr
                %th.product__th カテゴリー
                %td.product__td
                  %a{href: ""}
                    = @item.category.parent.parent.name
                    %i#product__fa-angle-right.fa.fa-angle-right
                  %a{href: ""}
                    = @item.category.parent.name
                    %i#product__fa-angle-right.fa.fa-angle-right
                  %a{href: ""}
                    = @item.category.name
              %tr.product__tr
                %th.product__th ブランド
                %td.product__td
                  %a{href: ""}
                    = @item.brand
              %tr.product__tr
                %th.product__th サイズ
                %td.product__td
                  = @item.size.size
              %tr.product__tr
                %th.product__th 商品の状態
                %td.product__td
                  = @item.condition.condition_rank
              %tr.product__tr
                %th.product__th 配送料の負担
                %td.product__td
                  = @item.shipping_fee_payer.payer
              %tr.product__tr
                %th.product__th 配送の方法
                %td.product__td
                  %a らくらくメルカリ便
              %tr.product__tr
                %th.product__th 配送元地域
                %td.product__td
                  %a{href: ""} ここに入る
              %tr.product__tr
                %th.product__th 配送日の目安
                %td.product__td
                  %a
                    = @item.shipping_day.days
      .product__item-box__price
        %span.product__item-box__price__amount
          = "¥" + @item.price.to_s(:delimited).to_s
        %span.product__item-box__price__withtax (税込)
        %span.product__item-box__price__shipcost 送料込み
      - if @item.state_id == 1 || @item.state_id == 2
        .product__item-box__buybox
          = link_to '購入画面', confirm_item_path(@item), class: 'product__item-box__buybox'
      - else
        .product__item-box__buybox--ng
          %a
            売り切れました
      .product__item-box__desc
        = @item.description
      .product__item-box__button
        .product__item-box__button__left
          .product__item-box__button__left__like
            #product__fa-heart
              %i.fa.fa-heart
            %span.product__item-box__button__left__like__word
              いいね！
            %span.product__item-box__button__left__like__word
              9
          .product__item-box__button__left__report
            #product__fa-flag
              %i.fa.fa-flag
            %span.product__item-box__button__left__report__word
              不適切な商品の報告
        .product__item-box__button__right
          #product__fa-lock
            %i.fa.fa-lock
          .product__item-box__button__right__safe
            あんしん・あんぜんへの取り組み
    .product__item-comment
      %form.product__item-comment__form
        %p.product__p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.product__textarea{name: "body", type: "text"}
        %button.product__button{type: "submit"} コメントする
    %ul.product__item-link
      %a{href: "/items/#{@prev_item.id}"}
        %li.product__item-link__pre
          - if @prev_item
            %i#product__fa-angle-right.fa.fa-angle-left
            = @prev_item.name
      %a{href: "/items/#{@next_item.id}"}
        %li.product__item-link__next
          = @next_item.name
          %i#product__fa-angle-right.fa.fa-angle-right
    .product__item__sns
      .product__item__sns__main
        .product__item__sns__main__box
          .product__item__sns__main__box__fb
            %a{href: "http://www.facebook.com", target: "_blank"}
              #product__fa-facebook-square
                %i.fa.fa-facebook-square.fa-2x
          .product__item__sns__main__box__tw
            %a{href: "http://twitter.com", target: "_blank"}
              #product__fa-twitter
                %i.fa.fa-twitter.fa-2x
  .product__add
    .product__add__items
      .product__add__items__title
        = @item.owner.nickname + "さんのその他出品"
      .product__add__items__contents

        - @owner_images.each_with_index do |owner_image, i|
          %section.product__add__items__contents__content
            %a.product__add__items__contents__content__a{href: "/items/#{owner_image.item.id}"}
              .product__add__items__contents__content__a__top
                = image_tag owner_image.image_url.url(:thumb), size: '220x220'
              .product__add__items__contents__content__a__bottom
                .product__add__items__contents__content__a__bottom__name
                  = owner_image.item.name
                .product__add__items__contents__content__a__bottom__info
                  .product__add__items__contents__content__a__bottom__info__price
                    = owner_image.item.price
                  .product__add__items__contents__content__a__bottom__info__like
                    %i.fa.fa-heart
                    %span.product__add__items__contents__content__a__bottom__info__like__num
                      8
                .product__add__items__contents__content__a__bottom__tax
                  (税込)
          - break if i== 5

  .product__add
    .product__add__items
      .product__add__items__title
        = @item.category.name + "  その他出品"
      .product__add__items__contents
        - @category_images.each_with_index do |category_image, i|
          %section.product__add__items__contents__content
            %a.product__add__items__contents__content__a{href: "/items/#{category_image.item.id}"}
              .product__add__items__contents__content__a__top
                = image_tag category_image.image_url.url(:thumb), size: '220x220'
              .product__add__items__contents__content__a__bottom
                .product__add__items__contents__content__a__bottom__name
                  = category_image.item.name
                .product__add__items__contents__content__a__bottom__info
                  .product__add__items__contents__content__a__bottom__info__price
                    = category_image.item.price
                  .product__add__items__contents__content__a__bottom__info__like
                    %i.fa.fa-heart
                    %span.product__add__items__contents__content__a__bottom__info__like__num
                      7
                .product__add__items__contents__content__a__bottom__tax
                  (税込)
          - break if i== 5
