<div class = "k__top"></div>
<div class = "k__bread">
  <ul>
    <li>
      <a href=""><span>メルカリ</span></a>
      <i class="fas fa-angle-right" id = "k__fa-angle-right"></i>
    </li>
    <li>
      <a href=""><span>カテゴリー一覧</span></a>
      <i class="fas fa-angle-right" id = "k__fa-angle-right"></i>
    </li>
    <li>
      <a href=""><span>ベビー・キッズ</span></a>
      <i class="fas fa-angle-right" id = "k__fa-angle-right"></i>
    </li>
    <li>
      <a><span>キッズ服(女の子用)100cm~</span></a>
      <i class="fas fa-angle-right" id = "k__fa-angle-right"></i>
    </li>
  </ul>
</div>


<main class = "k__main">
  <div class = "k__item">
    <div class = "k__item-box">
      <h1 class = "k__h1">エヘカソポ スカート</h1>
      <div class = "k__item-box__main">
        <div class = "k__item-box__main__left">
          <div class = "k__item-box__main__left__bigpic">
            <ul>
              <li class = "k__item-box__main__left__below__pics">
                <%= image_tag 'm52161295392_1.jpg', width: '300px', class: "bigimage"%>
              </li>
              <li class = "k__item-box__main__left__below__pics">
                <%= image_tag 'm52161295392_2.jpg', width: '300px', class: "bigimage"%>
              </li>
              <li class = "k__item-box__main__left__below__pics">
                <%= image_tag 'm52161295392_3.jpg', width: '300px', class: "bigimage"%>
              </li>
              <li class = "k__item-box__main__left__below__pics">
                <%= image_tag 'm52161295392_4.jpg', width: '300px', class: "bigimage"%>
              </li>
            </ul>
          </div>
          <div class = "k__item-box__main__left__below">
            <ul>
              <li class = "k__item-box__main__left__below__pics">
                <%= image_tag 'm52161295392_1.jpg', width: '60px', class: "image"%>
              </li>
              <li class = "k__item-box__main__left__below__pics">
                <%= image_tag 'm52161295392_2.jpg', width: '60px', class: "image"%>
              </li>
              <li class = "k__item-box__main__left__below__pics">
                <%= image_tag 'm52161295392_3.jpg', width: '60px', class: "image"%>
              </li>
              <li class = "k__item-box__main__left__below__pics">
                <%= image_tag 'm52161295392_4.jpg', width: '60px', class: "image"%>
              </li>
            </ul>
          </div>
          <script>
            $(function(){
            var $setMainId = $('.k__item-box__main__left__bigpic');
            var $setThumbId  = $('.k__item-box__main__left__below');
            var scrollSpeed  = 300;
        
            var $setMainUl = $setMainId.children('ul'),
            $setThumbUl = $setThumbId.children('ul'),
            $setThumbLi = $setThumbUl.children('li'),
            $setThumbLiFirst = $setThumbUl.children('li:first'),
            listWidth = parseInt($setMainUl.children('li').css('width')),
            listCount = $setMainUl.children('li').length,
            leftMax = -((listWidth)*((listCount)-1));
        
            $setMainUl.each(function(){
                $(this).css({width:(listWidth)*(listCount)});
            });
        
            var isTouch = ('ontouchstart' in window);
            $setMainUl.bind(
                {'touchstart mousedown': function(e){
                    var $setMainUlNot = $setMainId.children('ul:not(:animated)');
                    $setMainUlNot.each(function(){
                        e.preventDefault();
                        this.pageX = (isTouch ? event.changedTouches[0].pageX : e.pageX);
                        this.leftBegin = parseInt($(this).css('left'));
                        this.left = parseInt($(this).css('left'));
                        this.touched = true;
                    });
                },'touchmove mousemove': function(e){
                    if(!this.touched){
                        return;
                    }
                    e.preventDefault();
                    this.left = this.left - (this.pageX - (isTouch ? event.changedTouches[0].pageX : e.pageX) );
                    this.pageX = (isTouch ? event.changedTouches[0].pageX : e.pageX);
        
                    if(this.left < 0 && this.left > leftMax){
                        $(this).css({left:this.left});
                    } else if(this.left >= 0) {
                        $(this).css({left:'0'});
                    } else if(this.left <= leftMax) {
                        $(this).css({left:(leftMax)});
                    }
                },'touchend mouseup mouseout': function(e){
                    if (!this.touched) {
                        return;
                    }
                    this.touched = false;
        
                    var $setThumbLiActive = $setThumbUl.children('li.active');
        
                    if(this.leftBegin > this.left && (!((this.leftBegin) === (leftMax)))){
                        $(this).stop().animate({left:((this.leftBegin)-(listWidth))},scrollSpeed);
                        $setThumbLiActive.each(function(){
                            $(this).removeClass('active');
                            $(this).next().addClass('active');
                        });
                    } else if(this.leftBegin < this.left && (!((this.leftBegin) === 0))) {
                        $(this).stop().animate({left:((this.leftBegin)+(listWidth))},scrollSpeed);
                        $setThumbLiActive.each(function(){
                            $(this).removeClass('active');
                            $(this).prev().addClass('active');
                        });
                    } else if(this.leftBegin === 0) {
                        $(this).css({left:'0'});
                    } else if(this.leftBegin <= leftMax) {
                        $(this).css({left:(leftMax)});
                    }
                }
            });
        
            $setThumbLi.click(function(){
                var connectCont = $setThumbLi.index(this);
                $setMainUl.stop().animate({left:(-(listWidth)*(connectCont))},scrollSpeed);
                $setThumbLi.removeClass('active');
                $(this).addClass('active');
            });
        
            $setThumbLiFirst.addClass('active');
            $setThumbLi.css({opacity:'0.5'});
        });
          </script>
        </div>
        <div class = "k__item-box__main__right">
          <table class = "k__item-box__main__right__table">
            <tbody class = "k__tbody">
              <tr class = "k__tr">
                <th class = "k__th">出品者</th>
                <td class = "k__td"><a href="">出品者名</a></td>
              </tr>
              <tr class = "k__tr">
                <th class = "k__th">カテゴリー</th>
                <td class = "k__td">
                  <a href="">レディス</a> > <a href="">スカート</a> > <a href="">膝丈スカート</a>
                </td>
              </tr>
              <tr class = "k__tr">
                <th class = "k__th">ブランド</th>
                <td class = "k__td"><a href="">エヘカソポ</a></td>
              </tr>
              <tr class = "k__tr">
                <th class = "k__th">サイズ</th>
                <td class = "k__td">M</td>
              </tr>
              <tr class = "k__tr">
                <th class = "k__th">商品の状態</th>
                <td class = "k__td">未使用に近い</td>
              </tr>
              <tr class = "k__tr">
                <th class = "k__th">配送料の負担</th>
                <td class = "k__td">送料込み(出品者負担)</td>
              </tr>
              <tr class = "k__tr">
                <th class = "k__th">配送の方法</th>
                <td class = "k__td"><a>らくらくメルカリ便</a></td>
              </tr>
              <tr class = "k__tr">
                <th class = "k__th">配送元地域</th>
                <td class = "k__td"><a href="">神奈川県</a></td>
              </tr>
              <tr class = "k__tr">
                <th class = "k__th">配送日の目安</th>
                <td class = "k__td"><a>1日~2日で発送</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class = "k__item-box__price">
        <span class = "k__item-box__price__amount">¥10,000</span>
        <span class = "k__item-box__price__withtax">(税込)</span>
        <span class = "k__item-box__price__shipcost">送料込み</span>
      </div>
      <div class = "k__item-box__buybox">
        <a></a>購入画面に進む
      </div>
      <div class = "k__item-box__buybox_ng">
        <a></a>売り切れました
      </div>
      <div class = "k__item-box__desc">
        カラーステッチタイトスカート
          <br>
        色 カーキ
          <br>
        サイズ M
          <br>
        素材 綿100％
          <br>
        【参考】※多少の誤差あり
        ウエスト 66cm
        ヒップ 98cm
        総丈 80cm
          <br>
        着用回数１回
          <br>
        気になることなどございましたらコメントどうぞ！
          <br>
        ★発送までに7日かかる場合があります
          <br>
        ★プロフィール必読
          <br>
        他にも可愛いお洋服出品しております！ぜひ見てみてください( ¨̮ )
          <br>
        ehkasopo
          <br>
        サマンサモスモス  アースミュージックアンドエコロジー  ローリーズファーム  ジーユー
      </div>
      <div class = "k__item-box__button">
        <div class = "k__item-box__button__left">
          <div class ="k__item-box__button__like" >
            <div class ="k__item-box__button__like_word" >
              いいね！ 8
            </div>
          </div>
          <div class = "k__item-box__button__report">
            <div class = "k__item-box__button__report__word">
              報告
            </div>
          </div>
        </div>
        <div class = "k__item-box__button__right">
          <i class="fas fa-lock" id = "k__fa-lock"></i>
          <div class = "k__item-box__button__safe">
          あんしん・あんぜんへの取り組み
          </div>
        </div>
      </div>
    </div>

    <div class = "k__item-comment">
      <form class = "k__item-comment__form">
        <p class = "k__p">相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。</p>
        <textarea class = "k__textarea" type = "text" name = "body"></textarea>
        <button class = "k__button" type = "submit">コメントする</button>
      </form>
    </div>
    <ul class = "k__item-link">
      <li class = "k__item-link__pre">＜ 前のページへ</li>
      <li class = "k__item-link__next">次のページへ ＞</li>
    </ul>
    <div class = "k__item__sns">
      <div class = "k__item__sns__main">
        <div class = "k__item__sns__main__box">
          <div class = "k__item__sns__main__box__fb">
            <a href = "http://www.facebook.com" target="_blank"><i class="fab fa-facebook-square fa-2x" id = "k__fa-facebook-square"></i></a>
          </div>
          <div class = "k__item__sns__main__box__tw">
            <a href = "http://twitter.com" target="_blank"><i class="fab fa-twitter fa-2x" id = "k__fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<aside class = "k__banner">
  picture
</aside>
<footer class = "k__footer">
  フッター
</footer>