.product__bread
  %ul
    %li
      %a{href: "http://localhost:3000/items"}
        %span メルカリ
      %i#product__fa-angle-right.fa.fa-angle-right
    %li
      %a{href: "http://localhost:3000/items/category"}
        %span カテゴリー一覧
      %i#product__fa-angle-right.fa.fa-angle-right
    %li
      %a{href: ""}
        %span 
          = @item.category.parent.parent.name
      %i#product__fa-angle-right.fa.fa-angle-right
    %li
      %a{href: ""}
        %span
          = @item.category.parent.name
      %i#product__fa-angle-right.fa.fa-angle-right
    %li
      %span 
        = @item.category.name
%main.product__main
  .product__item
    .product__item-box
      %h1.product__h1
        = @item.name 
      .product__item-box__main
        .product__item-box__main__left
          .product__item-box__main__left__bigpic
            %ul
              %li.product__item-box__main__left__below__pics
                = image_tag width: '300px', class: "bigimage"
                  = @item.
              %li.product__item-box__main__left__below__pics
                = image_tag 'm52161295392_2.jpg', width: '300px', class: "bigimage"
              %li.product__item-box__main__left__below__pics
                = image_tag 'm52161295392_3.jpg', width: '300px', class: "bigimage"
              %li.product__item-box__main__left__below__pics
                = image_tag 'm52161295392_4.jpg', width: '300px', class: "bigimage"
          .product__item-box__main__left__below
            %ul
              %li.product__item-box__main__left__below__pics
                = image_tag 'm52161295392_1.jpg', width: '60px', class: "image"
              %li.product__item-box__main__left__below__pics
                = image_tag 'm52161295392_2.jpg', width: '60px', class: "image"
              %li.product__item-box__main__left__below__pics
                = image_tag 'm52161295392_3.jpg', width: '60px', class: "image"
              %li.product__item-box__main__left__below__pics
                = image_tag 'm52161295392_4.jpg', width: '60px', class: "image"
          
        .product__item-box__main__right
          %table.product__item-box__main__right__table
            %tbody.product__tbody
              %tr.product__tr
                %th.product__th 出品者
                %td.product__td
                  %a{href: ""} 
                    = @item.owner.nickname
              %tr.product__tr
                %th.product__th カテゴリー
                %td.product__td
                  %a{href: ""}
                    = @item.category.parent.parent.name
                    %i#product__fa-angle-right.fa.fa-angle-right
                  %a{href: ""} 
                    = @item.category.parent.name
                    %i#product__fa-angle-right.fa.fa-angle-right
                  %a{href: ""}
                    = @item.category.name
              %tr.product__tr
                %th.product__th ブランド
                %td.product__td
                  %a{href: ""} 
                    = @item.brand
              %tr.product__tr
                %th.product__th サイズ
                %td.product__td 
                  = @item.size
              %tr.product__tr
                %th.product__th 商品の状態
                %td.product__td 
                  = @item.condition.condition_rank
              %tr.product__tr
                %th.product__th 配送料の負担
                %td.product__td 
                  = @item.shipping_fee_payer.payer
              %tr.product__tr
                %th.product__th 配送の方法
                %td.product__td
                  %a らくらくメルカリ便
              %tr.product__tr
                %th.product__th 配送元地域
                %td.product__td
                  %a{href: ""} ここに入る
              %tr.product__tr
                %th.product__th 配送日の目安
                %td.product__td
                  %a
                    = @item.shipping_day.days
      .product__item-box__price
        %span.product__item-box__price__amount
          = "¥" + @item.price.to_s(:delimited).to_s
        %span.product__item-box__price__withtax (税込)
        %span.product__item-box__price__shipcost 送料込み
      - if @item.state_id == 1 || @item.state_id == 2
        .product__item-box__buybox
          %a
            購入画面に進む
      - else
        .product__item-box__buybox--ng
          %a
            売り切れました
      .product__item-box__desc
        = @item.description
      .product__item-box__button
        .product__item-box__button__left
          .product__item-box__button__left__like
            #product__fa-heart
              %i.fa.fa-heart
            %span.product__item-box__button__left__like__word
              いいね！
            %span.product__item-box__button__left__like__word
              9
          .product__item-box__button__left__report
            #product__fa-flag
              %i.fa.fa-flag
            %span.product__item-box__button__left__report__word
              不適切な商品の報告
        .product__item-box__button__right
          #product__fa-lock
            %i.fa.fa-lock
          .product__item-box__button__right__safe
            あんしん・あんぜんへの取り組み
    .product__item-comment
      %form.product__item-comment__form
        %p.product__p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.product__textarea{name: "body", type: "text"}
        %button.product__button{type: "submit"} コメントする
    %ul.product__item-link
      %li.product__item-link__pre ＜ 前のページへ
      %li.product__item-link__next 次のページへ ＞
    .product__item__sns
      .product__item__sns__main
        .product__item__sns__main__box
          .product__item__sns__main__box__fb
            %a{href: "http://www.facebook.com", target: "_blank"}
              #product__fa-facebook-square
                %i.fa.fa-facebook-square.fa-2x
          .product__item__sns__main__box__tw
            %a{href: "http://twitter.com", target: "_blank"}
              #product__fa-twitter
                %i.fa.fa-twitter.fa-2x
  .product__add
    .product__add__items
      .product__add__items__title
        = @item.owner.nickname + "さんのその他出品"
      .product__add__items__contents
        %section.product__add__items__contents__content
          %a.product__add__items__contents__content__a{href: ""}
            .product__add__items__contents__content__a__top
              = image_tag 'm52161295392_1.jpg', width: '220px', class: ""
            .product__add__items__contents__content__a__bottom
              .product__add__items__contents__content__a__bottom__name
                雨傘（開封済）（使用済） by あまがさ
              .product__add__items__contents__content__a__bottom__info
                .product__add__items__contents__content__a__bottom__info__price
                  ¥ 20,000
                .product__add__items__contents__content__a__bottom__info__like
                  %i.fa.fa-heart
                  %span.product__add__items__contents__content__a__bottom__info__like__num
                    1
              .product__add__items__contents__content__a__bottom__tax
                (税込)
        %section.product__add__items__contents__content
          %a.product__add__items__contents__content__a{href: ""}
            .product__add__items__contents__content__a__top
              = image_tag 'cosme1.jpeg', width: '220px', class: ""
            .product__add__items__contents__content__a__bottom
              .product__add__items__contents__content__a__bottom__name
                雨傘（開封済）（使用済） by あまがさ
              .product__add__items__contents__content__a__bottom__info
                .product__add__items__contents__content__a__bottom__info__price
                  ¥ 20,000
                .product__add__items__contents__content__a__bottom__info__like
                  %i.fa.fa-heart
                  %span.product__add__items__contents__content__a__bottom__info__like__num
                    1
              .product__add__items__contents__content__a__bottom__tax
                (税込)
        %section.product__add__items__contents__content
          %a.product__add__items__contents__content__a{href: ""}
            .product__add__items__contents__content__a__top
              = image_tag 'cosme2.jpeg', width: '220px', class: ""
            .product__add__items__contents__content__a__bottom
              .product__add__items__contents__content__a__bottom__name
                雨傘（開封済）（使用済） by あまがさ
              .product__add__items__contents__content__a__bottom__info
                .product__add__items__contents__content__a__bottom__info__price
                  ¥ 20,000
                .product__add__items__contents__content__a__bottom__info__like
                  %i.fa.fa-heart
                  %span.product__add__items__contents__content__a__bottom__info__like__num
                    1
              .product__add__items__contents__content__a__bottom__tax
                (税込)
        %section.product__add__items__contents__content
          %a.product__add__items__contents__content__a{href: ""}
            .product__add__items__contents__content__a__top
              = image_tag 'cosme3.jpeg', width: '220px', class: ""
            .product__add__items__contents__content__a__bottom
              .product__add__items__contents__content__a__bottom__name
                雨傘（開封済）（使用済） by あまがさ
              .product__add__items__contents__content__a__bottom__info
                .product__add__items__contents__content__a__bottom__info__price
                  ¥ 20,000
                .product__add__items__contents__content__a__bottom__info__like
                  %i.fa.fa-heart
                  %span.product__add__items__contents__content__a__bottom__info__like__num
                    1
              .product__add__items__contents__content__a__bottom__tax
                (税込)
        %section.product__add__items__contents__content
          %a.product__add__items__contents__content__a{href: ""}
            .product__add__items__contents__content__a__top
              = image_tag 'kids1.jpg', width: '220px', class: ""
            .product__add__items__contents__content__a__bottom
              .product__add__items__contents__content__a__bottom__name
                雨傘（開封済）（使用済） by あまがさ
              .product__add__items__contents__content__a__bottom__info
                .product__add__items__contents__content__a__bottom__info__price
                  ¥ 20,000
                .product__add__items__contents__content__a__bottom__info__like
                  %i.fa.fa-heart
                  %span.product__add__items__contents__content__a__bottom__info__like__num
                    1
              .product__add__items__contents__content__a__bottom__tax
                (税込)
        %section.product__add__items__contents__content
          %a.product__add__items__contents__content__a{href: ""}
            .product__add__items__contents__content__a__top
              = image_tag 'kids2.jpg', width: '220px', class: ""
            .product__add__items__contents__content__a__bottom
              .product__add__items__contents__content__a__bottom__name
                雨傘（開封済）（使用済） by あまがさ
              .product__add__items__contents__content__a__bottom__info
                .product__add__items__contents__content__a__bottom__info__price
                  ¥ 20,000
                .product__add__items__contents__content__a__bottom__info__like
                  %i.fa.fa-heart
                  %span.product__add__items__contents__content__a__bottom__info__like__num
                    1
              .product__add__items__contents__content__a__bottom__tax
                (税込)
  .product__add
    .product__add__items
      .product__add__items__title
        = @item.category.name + "  その他出品"
      .product__add__items__contents
        %section.product__add__items__contents__content__right
          %a.product__add__items__contents__content__right__a{href: ""}
            .product__add__items__contents__content__right__a__top
              = image_tag 'kids3.jpg', width: '220px', class: ""
            .product__add__items__contents__content__right__a__bottom
              .product__add__items__contents__content__right__a__bottom__name
                雨傘（開封済）（使用済） by あまがさ
              .product__add__items__contents__content__right__a__bottom__info
                .product__add__items__contents__content__right__a__bottom__info__price
                  ¥ 20,000
                .product__add__items__contents__content__right__a__bottom__info__like
                  %i.fa.fa-heart
                  %span.product__add__items__contents__content__right__a__bottom__info__like__num
                    1
              .product__add__items__contents__content__right__a__bottom__tax
                (税込)
        %section.product__add__items__contents__content
          %a.product__add__items__contents__content__a{href: ""}
            .product__add__items__contents__content__a__top
              = image_tag 'kids2.jpg', width: '220px', class: ""
            .product__add__items__contents__content__a__bottom
              .product__add__items__contents__content__a__bottom__name
                雨傘（開封済）（使用済） by あまがさ
              .product__add__items__contents__content__a__bottom__info
                .product__add__items__contents__content__a__bottom__info__price
                  ¥ 20,000
                .product__add__items__contents__content__a__bottom__info__like
                  %i.fa.fa-heart
                  %span.product__add__items__contents__content__a__bottom__info__like__num
                    1
              .product__add__items__contents__content__a__bottom__tax
                (税込)
        %section.product__add__items__contents__content
          %a.product__add__items__contents__content__a{href: ""}
            .product__add__items__contents__content__a__top
              = image_tag 'product5.jpg', width: '220px', class: ""
            .product__add__items__contents__content__a__bottom
              .product__add__items__contents__content__a__bottom__name
                雨傘（開封済）（使用済） by あまがさ
              .product__add__items__contents__content__a__bottom__info
                .product__add__items__contents__content__a__bottom__info__price
                  ¥ 20,000
                .product__add__items__contents__content__a__bottom__info__like
                  %i.fa.fa-heart
                  %span.product__add__items__contents__content__a__bottom__info__like__num
                    1
              .product__add__items__contents__content__a__bottom__tax
                (税込)
        %section.product__add__items__contents__content__right
          %a.product__add__items__contents__content__right__a{href: ""}
            .product__add__items__contents__content__right__a__top
              = image_tag 'kids2.jpg', width: '220px', class: ""
            .product__add__items__contents__content__right__a__bottom
              .product__add__items__contents__content__right__a__bottom__name
                雨傘（開封済）（使用済） by あまがさ
              .product__add__items__contents__content__right__a__bottom__info
                .product__add__items__contents__content__right__a__bottom__info__price
                  ¥ 20,000
                .product__add__items__contents__content__right__a__bottom__info__like
                  %i.fa.fa-heart
                  %span.product__add__items__contents__content__right__a__bottom__info__like__num
                    1
              .product__add__items__contents__content__right__a__bottom__tax
                (税込)
        %section.product__add__items__contents__content
          %a.product__add__items__contents__content__a{href: ""}
            .product__add__items__contents__content__a__top
              = image_tag 'm52161295392_1.jpg', width: '220px', class: ""
            .product__add__items__contents__content__a__bottom
              .product__add__items__contents__content__a__bottom__name
                雨傘（開封済）（使用済） by あまがさ
              .product__add__items__contents__content__a__bottom__info
                .product__add__items__contents__content__a__bottom__info__price
                  ¥ 20,000
                .product__add__items__contents__content__a__bottom__info__like
                  %i.fa.fa-heart
                  %span.product__add__items__contents__content__a__bottom__info__like__num
                    1
              .product__add__items__contents__content__a__bottom__tax
                (税込)
        %section.product__add__items__contents__content
          %a.product__add__items__contents__content__a{href: ""}
            .product__add__items__contents__content__a__top
              = image_tag 'm52161295392_1.jpg', width: '220px', class: ""
            .product__add__items__contents__content__a__bottom
              .product__add__items__contents__content__a__bottom__name
                雨傘（開封済）（使用済） by あまがさ
              .product__add__items__contents__content__a__bottom__info
                .product__add__items__contents__content__a__bottom__info__price
                  ¥ 20,000
                .product__add__items__contents__content__a__bottom__info__like
                  %i.fa.fa-heart
                  %span.product__add__items__contents__content__a__bottom__info__like__num
                    1
              .product__add__items__contents__content__a__bottom__tax
                (税込)
