- breadcrumb :category
.index__wrapper
  %main.category__main
    .category__item
      .category__item-box
        %h2.category__h2 カテゴリー一覧
        .category__item-box__titles
          #title_mens.category__item-box__titles__title
            %div メンズ
          :javascript
            $("#title_mens").click(function(){
              var position = $("#category_men").offset().top;
                $("html,body").animate({
                    scrollTop : position
                }, {
                    queue : false
                });
            });
          #title_ladies.category__item-box__titles__title
            %div レディース
          :javascript
            $("#title_ladies").click(function(){
              var position = $("#category_women").offset().top;
                $("html,body").animate({
                    scrollTop : position
                }, {
                    queue : false
                });
            });
          #title_child.category__item-box__titles__title
            %div ベビー・キッズ
          :javascript
            $("#title_child").click(function(){
              var position = $("#category_child").offset().top;
                $("html,body").animate({
                    scrollTop : position
                }, {
                    queue : false
                });
            });
          .category__item-box__titles__title
            %div インテリア・住まい・小物
          .category__item-box__titles__title
            %div 本・音楽・ゲーム
          .category__item-box__titles__title
            %div おもちゃ・ホビー・グッズ
          .category__item-box__titles__title
            %div コスメ・香水・美容
          .category__item-box__titles__title
            %div 家電・スマホ・カメラ
          .category__item-box__titles__title
            %div スポーツ・レジャー
          .category__item-box__titles__title
            %div ハンドメイド
          .category__item-box__titles__title
            %div チケット
          .category__item-box__titles__title
            %div 自動車・オートバイ
          .category__item-box__titles__title
            %div その他
      .category__list
        - @root_category.each do |a_root|
          .category__list__category
            .category__list__category__name{id: "category_#{a_root.name}"}
              = a_root.name
            .category__list__category__name__detail
              .category__list__category__name__detail__all
                = link_to "すべて", category_path(a_root.id)
              - a_root.children.each do |a_parent|
                .category__list__category__name__detail__janre
                  = a_parent.name
                .category__list__category__name__detail__details
                  - a_parent.children.each do |a_child|
                    .category__list__category__name__detail__details__item
                      = link_to "#{a_child.name}", category_path(a_child.id)

  = link_to new_item_path, class: "items-index__container__sale-btn" do
    .items-index__container__sale-btn__text 出品
    %i.fa.fa-camera-retro.items-index__container__sale-btn__icon
