<body>
<nav id="dd">
<ul>
<li><a href="">カテゴリー</a>
	<ul class="level1">
	<li><%= link_to 'レディース', tech_camp_mentor_abes_path %>
		<ul class="level2">
		<li><a href="">1</a>
      <ul class="level3">
        <li><a href="">3-1</a></li>
        <li><a href="">3-2</a></li>
      </ul>
    </li>
		<li><a href="">2</a></li>
		<li><a href="">3</a></li>
		<li><a href="">4</a></li>
		<li><a href="">5</a></li>
		<li><a href="">6</a></li>
		<li><a href="">7</a></li>
		<li><a href="">8</a></li>
		</ul>
	</li>
	<li><%= link_to 'メンズ', tech_camp_mentor_abes_path %></li>
	<li><%= link_to '', tech_camp_mentor_abes_path %></li>
	<li><%= link_to '', tech_camp_mentor_abes_path %></li>
	<li><%= link_to '', tech_camp_mentor_abes_path %></li>
	<li><%= link_to '', tech_camp_mentor_abes_path %></li>
  <li><%= link_to '', tech_camp_mentor_abes_path %></li>
  <li><%= link_to '', tech_camp_mentor_abes_path %></li>
  <li><%= link_to '', tech_camp_mentor_abes_path %></li>
	</ul>
</li>
<li><a href="">ダミーテキスト</a>
	<ul class="level1">
	<li><a href="">ダミーテキスト</a></li>
	<li><a href="" class="item-arrow">ダミーテキスト</a>
		<ul class="level2">
		<li><a href="">ダミーテキスト</a></li>
		<li><a href="" class="item-arrow">ダミーテキスト</a>
			<ul class="level2">
			<li><a href="">ダミーテキスト</a></li>
			<li><a href="">ダミーテキスト</a></li>
			<li><a href="">ダミーテキスト</a></li>
			<li><a href="">ダミーテキストダミーテキスト</a></li>
			<li><a href="">ダミーテキストダミーテキスト</a></li>
			</ul>
		</li>
		<li><a href="">ダミーテキスト</a></li>
		<li><a href="">ダミーテキスト</a></li>
		<li><a href="">ダミーテキスト</a></li>
		</ul>
	</li>
	<li><a href="" class="item-arrow">ダミーテキスト</a>
		<ul class="level2">
		<li><a href="">ダミーテキスト</a></li>
		<li><a href="">ダミーテキスト</a></li>
		<li><a href="">ダミーテキスト</a></li>
		<li><a href="">ダミーテキスト</a></li>
		<li><a href="">ダミーテキスト</a></li>
		<li><a href="">ダミーテキスト</a></li>
		</ul>
	</li>
	<li><a href="" class="item-arrow">ダミーテキストダミーテキスト</a>
		<ul class="level2">
		<li><a href="">ダミーテキスト</a></li>
		<li><a href="">ダミーテキスト</a></li>
		<li><a href="">ダミーテキスト</a></li>
		</ul>
	</li>
	</ul>
</li>
<li><a href="">ダミーテキスト</a>
	<ul class="level1">
	<li><a href="" class="item-arrow">ダミーテキスト</a>
		<ul class="level2">
		<li><a href="">ダミーテキスト</a></li>
		<li><a href="">ダミーテキスト</a></li>
		<li><a href="">ダミーテキスト</a></li>
		<li><a href="">ダミーテキストダミーテキスト</a></li>
		<li><a href="">ダミーテキストダミーテキスト</a></li>
		</ul>
	</li>
	<li><a href="">ダミーテキスト</a></li>
	<li><a href="">ダミーテキスト</a></li>
	<li><a href="">ダミーテキスト</a></li>
	</ul>
</li>
<li><a href="">ダミーテキスト</a>
	<ul class="level1">
	<li><a href="">ダミーテキスト</a></li>
	<li><a href="">ダミーテキスト</a></li>
	<li><a href="">ダミーテキスト</a></li>
	<li><a href="">ダミーテキスト</a></li>
	</ul>
</li>
<li><a href="">ダミーテキスト</a></li>
</ul>
<!-- /#dd-01 --></nav>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/javascript.js"></script>
</body>

<script>
  $(function() {
	$("#dd li ul").hide();
	$("#dd li").hover(function() {
		$(">ul", this).stop(true, true).slideDown("fast");
		$(">a", this).addClass("active");
	},
	function() {
		$(">ul", this).stop(true, true).slideUp("fast");
		$(">a", this).removeClass("active");
	});
});
</script>
