!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mercari52Teame
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{:src => "/bxslider.min.scss"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .product-header
      .product-header__container
        / ここから上部
        .product-header__container__upper
          = link_to items_path, class: 'product-header__container__upper__logo' do
            = image_tag 'logo.png', alt: 'logo', class: 'product-header__container__upper__logo__image', height: '36', width: '134'
          .product-header__container__upper__search
            = form_tag("/search") do
              = text_field_tag :keyword
              =submit_tag "検索"
        / ここから下部
        .product-header__container__under
          %nav.profuct-header__container__under__nav
            .product-header__container__under__nav__category.drop-down
              = link_to 'カテゴリーから探す', items_path, class: 'product-header__container__under__nav__category__link'
            .product-header__container__under__nav__brand.drop-down
              = link_to 'ブランドから探す', items_path, class: 'product-header__container__under__nav__brand__nav__link'
          .product-header__container__under__user
            = link_to '新規会員登録', items_path, class: 'product-header__container__under__user__signup'
            = link_to 'ログイン', items_path, class: 'product-header__container__under__user__login'
    = yield
    .banner
      .banner__inner
        .banner__inner__block
          %section.banner__inner__block__icon
            %h2 スマホでかんたんフリマアプリ
            %p 今すぐ無料ダウンロード
            %section.banner__inner__block__icon__logo
              = image_tag 'app-logo.jpg', alt: 'logo', class: 'banner__inner__block__icon__logo__main', height: '68', width: '68'
              %ul.banner__inner__block__icon__logo__link
                %li= image_tag 'appstore.jpeg', alt: 'logo', class: 'banner__inner__block__icon__logo__link__a', height: '38', width: '133'
                %li= image_tag 'googleplay.png', alt: 'logo', class: 'banner__inner__block__icon__logo__link__b', height: '38', width: '133'
          .banner__inner__image
            = image_tag 'appa.png', alt: 'appimage', class: 'banner__inner__image__app'
            
    %footer.footer
      .footer-contents
        .footer-contents-left
          .footer-content
            %h2.footer-content-group メルカリについて
            %ul
              %li= link_to '会社概要（運営会社）', items_path, class: "footer-link"
              %li= link_to '採用情報', items_path, class: "footer-link"
              %li= link_to 'プレスリリース', items_path, class: "footer-link"
              %li= link_to '公式ブログ', items_path, class: "footer-link"
              %li= link_to 'メルカリロゴ利用ガイドライン', items_path, class: "footer-link"
              %li
                %i.fa.fa-twitter.fa-2x
              %li
                %i.fa.fa-facebook-square.fa-2x
          .footer-content
            %h2.footer-content-group プライバシーと利用規約
            %ul
              %li= link_to 'メルカリ利用規約', items_path, class: "footer-link"
              %li= link_to 'あんしんスマホサポート制度に関する利用特約', items_path, class: "footer-link"
              %li= link_to 'プレスリリース', items_path, class: "footer-link"
              %li= link_to 'コンプライアンスポリシー', items_path, class: "footer-link"
        .footer-contents-right
          .footer-content
            %h2.footer-content-group ヘルプ＆ガイド
            %ul
              %li= link_to 'メルカリガイド', items_path, class: "footer-link"
              %li= link_to 'らくらくメルカリ便', items_path, class: "footer-link"
              %li= link_to 'ゆうゆうメルカリ便', items_path, class: "footer-link"
              %li= link_to '大型メルカリ便', items_path, class: "footer-link"
              %li= link_to '車体取引ガイド', items_path, class: "footer-link"
              %li= link_to 'メルカリあんしん・あんぜん宣言！', items_path, class: "footer-link"
              %li= link_to '偽ブランド品撲滅への取り組み', items_path, class: "footer-link"
              %li= link_to 'メルカリボックス', items_path, class: "footer-link"
          .footer-content
            %ul
              %li= link_to '個人データの安全管理に係る基本方針', items_path, class: "footer-link"
              %li= link_to '特定商取引に関する表記', items_path, class: "footer-link"
              %li= link_to '資金決済法に基づく表示', items_path, class: "footer-link"
              %li= link_to '法令遵守と犯罪抑止のために', items_path, class: "footer-link"
              %li= link_to '返品・返金ポリシー', items_path, class: "footer-link"
