<!DOCTYPE html>
<html>
  <head>
    <title>Mercari52Teame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="/bxslider.min.scss"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="js-header">
      <div class="js-header-inner">
        <div class="header-top">
          <h1 class="header-logo"><%= link_to items_path do %>
            <%= image_tag 'logo.png', :size => "134x36" %>
            <% end %>
          </h1>
          <div class="search-product">

          </div>
          </div>
          <!-- ここからヘッダー下 -->
          <!-- <div class="header-nav-box">
            <div class="header-nav-left">
              <ul class="left-lists">
                <li class="left-list">カテゴリーから探す</li>
                <li class="left-list">ブランドから探す</li>
              </ul>
            </div>
            <div class="header-nav-right">
              <ul>
                <li>お知らせ</li>
                <li>やることリスト</li>
                <li>マイページ</li>
              </ul>
            </div>
          </div>
      </div> -->
    </header>
    <%= yield %>

    <footer class="footer">
    <div class="footer-contents">
      <div class="footer-contents-left">
        <div class="footer-content">
          <h2 class="footer-content-group">メルカリについて</h2>
        <ul>
          <li><%= link_to '会社概要（運営会社）', items_path, class: "footer-link" %></li>
          <li><%= link_to '採用情報', items_path, class: "footer-link" %></li>
          <li><%= link_to 'プレスリリース', items_path, class: "footer-link" %></li>
          <li><%= link_to '公式ブログ', items_path, class: "footer-link" %></li>
          <li><%= link_to 'メルカリロゴ利用ガイドライン', items_path, class: "footer-link" %></li>
          <li><i class="fa fa-twitter fa-2x"></i></li>
          <li><i class="fa fa-facebook-square fa-2x"></i></li>
        </ul>
        </div>

        <div class="footer-content">
          <h2 class="footer-content-group">プライバシーと利用規約</h2>
        <ul>
          <li><%= link_to 'メルカリ利用規約', items_path, class: "footer-link" %></li>
          <li><%= link_to 'あんしんスマホサポート制度に関する利用特約', items_path, class: "footer-link" %></li>
          <li><%= link_to 'プレスリリース', items_path, class: "footer-link" %></li>
          <li><%= link_to 'コンプライアンスポリシー', items_path, class: "footer-link" %></li>
        </ul>
        </div>
      </div>

      <div class="footer-contents-right">
        <div class="footer-content">
          <h2 class="footer-content-group">ヘルプ＆ガイド</h2>
        <ul>
          <li><%= link_to 'メルカリガイド', items_path, class: "footer-link" %></li>
          <li><%= link_to 'らくらくメルカリ便', items_path, class: "footer-link" %></li>
          <li><%= link_to 'ゆうゆうメルカリ便', items_path, class: "footer-link" %></li>
          <li><%= link_to '大型メルカリ便', items_path, class: "footer-link" %></li>
          <li><%= link_to '車体取引ガイド', items_path, class: "footer-link" %></li>
          <li><%= link_to 'メルカリあんしん・あんぜん宣言！', items_path, class: "footer-link" %></li>
          <li><%= link_to '偽ブランド品撲滅への取り組み', items_path, class: "footer-link" %></li>
          <li><%= link_to 'メルカリボックス', items_path, class: "footer-link" %></li>
        </ul>
        </div>

        <div class="footer-content">
        <ul>
          <li><%= link_to '個人データの安全管理に係る基本方針', items_path, class: "footer-link" %></li>
          <li><%= link_to '特定商取引に関する表記', items_path, class: "footer-link" %></li>
          <li><%= link_to '資金決済法に基づく表示', items_path, class: "footer-link" %></li>
          <li><%= link_to '法令遵守と犯罪抑止のために', items_path, class: "footer-link" %></li>
          <li><%= link_to '返品・返金ポリシー', items_path, class: "footer-link" %></li>
        </ul>
        </div>
      </div>

  </footer>
  </body>
</html>
